.project {
    font-family: mulish;
}

.header  {
    display: flex;
    height: 100px;
    align-items: center;
    flex-direction: row;
}



.logo {
    display: flex;
    gap: 3px;
    align-items: center;
}

.image {
    display: flex;
    height: 50px;
    justify-content: left;
}



.first-image{
    width: 100%;
    height: 100%;
}
.logo-title {
    font-size: 16px;
}

.navcontent {
    display: flex;
    justify-content: flex-end;
    
}

.navcontent a {
    text-decoration: none;
    color: gray;
    padding-left: 13px;
}

.navcontent ul{
    list-style-type: none;
    display: flex;
}

.openMenu{
    display: none;
    font-size: 2rem;
    margin: 20px;
    cursor: pointer;
   
}

.closeMenu, .icons{
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

@media (max-width: 800px){
    .navcontent a{
        height: 100vh;
        position: fixed;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items:center ;
        background: transparent;
        display: none;
        top: 0;
        right: 0;
        left: 0;
        text-decoration: none;

    }

    .closeMenu{
        display: none;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .openMenu{
        display: block;
    }
    
    
}
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10em;
}

@media (max-width: 800px){
    .hero{
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}

.title h1 {
    margin-bottom: 30px;
}

.first-button {
    line-height: 5;
    background-color: rgb(108, 160, 233);
    column-gap: 10px;
    color: #fff;
    border-radius: 50px;
    width: 200px;
    height: 50px;
    padding: 12px 27px;
    background-position: initial;
    font-family: 'Mulish', sans-serif;
    text-decoration: none;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.0);
}

.section-two {
    align-items: center;
    text-align: center;
    margin-top: 15em;
}

.line {
    margin: 30px 0 30px 0;
}

.learn {
    border: none;
    width: 350px;
    height: 354px;
}

.insert {
    display: flex;
    margin-top: 6em;
    align-content: center;
    justify-content: center;
}

.img {
    height: 50px;
    width: 50px;
    margin-bottom: 20px;
}

#button {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    text-align: center;
}

.buttons {
    border: 1px solid rgb(69, 143, 246);
    color: rgb(69, 143, 246);
    border-radius: 50px;
    width: 200px;
    height: 50px;
    padding: 12px 27px;
    background-color: white;
    font-family: 'Mulish', sans-serif;
    text-decoration: none;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.0);
}

.item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10em;
}


.content {
    padding: 10px 0 0 200px;
}

#learn-more {
    display: flex;
    margin-top: 40px;
    justify-content: start;
    text-align: center;
}

.download {
    align-items: center;
    margin-top: 8em;
}

.testimonials {
    align-items: center;
}

.center {
    text-align: center;
}

.testimony {
    display: flex;
}

.paragraph {
    align-items: center;
    justify-content: center;
}

.testimonials {
    margin-top: 12em;
    background-color: rgb(58, 163, 219);
    height: 425px;
    padding: 23px 8px 14px 0px;
    width: 100% !important;
    border-radius: 24px;
    color: rgba(255, 255, 255, 0.904);
    font-family: mulish;
}

.img-circle {
    align-items: center;
    width: 100px;
    height: 100px;
    margin: 0 9px 11px 106px;
    border-radius: 50px;
}

.center {
    text-align: center;
    margin-top: 10px;
    padding-top: 40px;
}

.person {
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    margin-top: 80px;
}

#man {
    display: flex;
    align-items: center;
}

.latest {
    margin: 6em 0 6em 0;
    align-items: center;
    text-align: center;
}

.last {
    display: flex;
    justify-content: space-evenly;
    height: 512px;
    width: 33.33%;
    gap: 10px 20px;
    border-radius: 30px;
    border-color: rgb(233, 231, 231);
    box-shadow: 0px 21px 3px 0px rgba(193, 211, 216, 0.068);
    border: none;
}

.last a{
    text-decoration: none;
    color: rgb(64, 137, 237);
}

#latest{
    display: flex;
    align-items: center;

    width: 100%;
    height: 100%;
}





.last-button {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    text-align: center;
}

#card{
    width: 100%;
    height: 100%;
}


#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: mulish;
    background-color: rgb(129, 198, 235);
    margin-top: 8em;
    height: 432px;
    color: white;
    font-size: 18px;
}

#info {
    display: flex;
   
    align-items: center;
}



.company {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#footer a {
    text-decoration: none;
}



#copyright {
    margin-top: 10px;
}

#list  a {
    display: block;
    color: white;
    align-items: center;
    padding-bottom: 5px;
    text-decoration: none;
    align-items: center;
    list-style-type: none;
}

#list li{
    list-style-type: none;
}
@media  (max-width: 800px){
    .footer{
        width: 100%;
    }
    #list li{
        display: none;
        position: absolute;
    }

    #list:hover{
        background-color: lightgray;
        align-items: center;
        justify-content: center;
    }
}

.container-fluid{
    background-color: rgb(129, 198, 235);
}

#card{
    display: flex;
    align-items: center;
    gap: 20px;
}
 
@media  (max-width: 800px){
 
    #card{
        flex-direction: column;
        align-items: center;
    }
}

@media  (max-width: 800px) {
    .item{
        align-items: center;
        width: 100%;
    }
    .content{
         align-items: center;
        justify-content: center;
        width: 100%;
    }
}
@media  (max-width: 800px) and (min-width:500px){
    .download{
        align-items: center;
        width: 100%;
    }
}



/* 
@media  (max-width: 800px) {
    .media{

        flex-direction: row;
        align-items: center;
        margin-top: 5em;
        justify-content: center;
    }
} */

/*


.nav a {
    padding-right: 30px;
    text-decoration: none;
    color: lightgray;
    font-family: 'Mulish', sans-serif;
}

.logo {
    display: flex;
    width: 50px;
    height: 50px;
    margin: 20px 0 20px 0px;
}

.logo-title {
    margin-top: 15px;
    padding-left: 15px;
    font-family: 'Mulish', sans-serif;
}

.header {
    text-align: left;
    margin-top: 50px;
}

.first-image {
    width: 450px;
    height: 350px;
}

.content {
    margin-top: 100px;
}

.line-text {
    font-size: 14px;
    letter-spacing: 0.5px;
    color: rgba(125, 121, 135, 0.89);
    font-weight: 20;
    font-family: 'Mulish', sans-serif;
    margin-top: 20px;
    margin-bottom: 40px;
}

.first-button {
    background-color: rgb(69, 143, 246);
    color: #fff;
    border-radius: 50px;
    width: 200px;
    height: 50px;
    padding: 12px 27px;
    background-position: initial;
    font-family: 'Mulish', sans-serif;
    text-decoration: none;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.0);
}

.buttons {
    border: 1px solid rgb(69, 143, 246);
    color: rgb(69, 143, 246);
    border-radius: 50px;
    width: 200px;
    height: 50px;
    padding: 12px 27px;
    background-color: white;
    font-family: 'Mulish', sans-serif;
    text-decoration: none;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.0);
}

.black {
    color: black;
}

.active:hover {
    color: black;
}

.content-two {
    padding-right: 50px;
    margin-bottom: 50px;
}

.services {
    display: flex;
}

#service{
    background-image: url(/images/bg.jpg);
}


.one {
    border: none;
    width: 350px;
    height: 354px;
    margin: 20px 20px 20px 20px;
    border-radius: 20px;
    border-color: rgb(233, 231, 231);
    box-shadow: 0px 5px 20px 0px rgba(211, 211, 211, 0.075);
}

.frame {
    width: 62px;
    height: 91px;
    text-align: center;
    margin: 60px 20px 0 20px;
    padding: 5px 0px 16px 0px;
}

.leading {
    margin: 150px 0 200px 0;
}

.download {
    margin: 100px 0px 200px 0px;
}

/* .sc-two{
    margin-top:50px ;
} 

.section-two {
    padding-right: 94px;
    margin-top: 100px;
    text-align: center;
}

h4 {
    letter-spacing: 1px;
}

.line-text {
    font-family: 'Mulish', sans-serif;
}

.text {
    font-size: 13px;
    color: rgba(125, 121, 135, 0.89);
    line-height: 2;
}

.bck {
    width: 0px;
    height: 0px;
    position: absolute;
    z-index: -1;
    left: 20px;
    left: 33em;
    top: 43em;
    opacity: 0.7;
}

#detail {
    width: 0px;
    height: 0px;
    position: absolute;
    z-index: -1;
    left: 34em;
    top: 8em;
}

#element {
    width: 0px;
    height: 0px;
    position: absolute;
    z-index: -1;
    right: 63em;
    top: 1229px;
}

#right-element {
    width: 0px;
    height: 0px;
    position: absolute;
    z-index: -1;
    right: 44em;
    top: 143em;
}

/* .sc-page{
    margin-top: 40px;
    background-image: url(/images/bg.jpg);
    background-position:left;
    background-repeat: no-repeat;
    background-attachment: fixed;
} */

/* .frameimage{
    height: 90px;
    width: 90px;
    align-items: initial;
    padding-bottom: 25px;
} */

/* .btn{
    width: 350px;
    height: 354px;
    padding: 50px 40px ;
    background-color: white;
    background-position: initial;
    font-family: 'Mulish', sans-serif;
    text-align: left;
    border-radius: 20px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1), 0 1px 1px 0 rgba(0,0,0,0.0);
} 

.learn {
    text-align: center;
    margin-right: 140px;
}

/* .content-three{
    padding-left: 100px;
} 

.right {
    padding: 40px 0px 0px 216px;
}

.testimonials {
    background-color: rgb(58, 163, 219);
    height: 425px;
    padding: 23px 8px 14px 0px;
    width: 100% !important;
    border-radius: 24px;
    color: rgba(255, 255, 255, 0.904);
    font-family: mulish;
}

.img-circle {
    width: 100px;
    height: 100px;
    margin: 0 9px 11px 106px;
    border-radius: 50px;
}

.center {
    text-align: center;
    margin-top: 10px;
    padding-top: 40px;
}

.person {
    display: flex;
    margin-top: 80px;
}

.name {
    margin: 20px 300px 0 8px;
    font-size: 19px;
}

.latest {
    text-align: center;
    margin: 100px 112px 50px 0;
    
}

#card {
    display: flex;
    margin: 30px 20px 30px 20px;
    gap: 10px 20px;
}
#card a{
    text-decoration: none;
}

.last {
    height: 512px;
    width: 33.33%;
    gap: 10px 20px;
    border-radius: 30px;
    border-color: rgb(233, 231, 231);
    box-shadow: 0px 21px 3px 0px rgba(193, 211, 216, 0.068);
    border: none;
}

.link {
    text-decoration: none;
    font-family: 'Mulish', sans-serif;
}

.footer {
    display: flex;
    justify-content: center;
    gap: 200px;
    background-color: rgb(103, 195, 243);
    color: white;

}

.footer a {
    text-decoration: none;
}

.foter {
    padding: 0px 50px;
}

.righty {
    padding: 0 0 0 135px;
}

.middle {
    padding: 0 0 0 100px;
}

.middle-two {
    padding: 0 0 0 110px;
}

.lefty {
    padding: 0 10px 0 0;
    line-height: 1.65;
}

.buttona{
  
    border: 1px solid rgb(69, 143, 246);
    color: rgb(69, 143, 246);
    text-align: center;
    border-radius: 50px;
    width: 200px;
    height: 50px;
    padding: 12px 27px;
    background-color: white;
    font-family: 'Mulish', sans-serif;
    text-decoration: none;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.0);
}