body, html{
    overflow-x: hidden;
}
body {
    font-family: mulish;
  
    width: 100%;

}

p {
    font-weight: lighter;
}

.header {
    display: flex;
    height: 100px;
    align-items: center;
    
}

.logo {
    display: flex;
    gap: 5px;
    align-items: center;
}

.image {
    display: flex;
    height: 50px;
    justify-content: left;
}

.first-image {
    width: 100%;
    height: 100%;
}

.logo-title {
    font-size: 20px;
    align-items: center;
}

.navcontent {
    display: flex;
    justify-content: flex-end;
}

.navcontent a {
    text-decoration: none;
    color: gray;
    padding-left: 13px;
}

.navcontent a:hover {
    background-color: rgba(121, 125, 135, 0.123);
}

.navcontent ul {
    list-style-type: none;
    display: flex;
}

.openMenu {
    display: none;
    font-size: 2rem;
    margin: 20px;
    cursor: pointer;
}

.closeMenu, .icons {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10em;
}

.title {
    width: 60%;
}

.title h1 {
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 600;
}

.first-button {
    line-height: 5;
    background-color: rgb(108, 160, 233);
    column-gap: 10px;
    color: #fff;
    border-radius: 50px;
    width: 200px;
    height: 50px;
    padding: 12px 27px;
    background-position: initial;
    font-family: 'Mulish', sans-serif;
    text-decoration: none;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.0);
}
.first-line-text{
    width: 100%;
    
}

.first-sec-title{
    font-size: 36px;
    font-weight: 800;
}
.section-two {
    align-items: center;
    text-align: center;
    margin-top: 15em;
}

.line {
    margin: 30px 0 30px 0;
}

.line-text{
    width: 60%;
    justify-content: center;
 
}
.learn {
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 40px;
    width: 350px;
    height: 354px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 22px 5px 2px rgba(193, 211, 216, 0.144);
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.learn:hover {
    background-color: rgba(152, 198, 206, 0.082);
    transition-duration: 0.5s;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.0);
}

.insert {
    display: flex;
    margin-top: 6em;
    align-content: center;
    justify-content: center;
}

.img {
    height: 80px;
    width: 61.86px;
    margin-bottom: 20px;
}

.section-two h4 {
    font-size: 36px;
    font-weight: 900;
    color: black;
}

#button {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    text-align: center;
}

.buttons {
    border: 1px solid rgb(129, 198, 235);
    color: rgb(69, 143, 246);
    border-radius: 50px;
    width: 200px;
    height: 50px;
    padding: 12px 27px;
    background-color: white;
    font-family: 'Mulish', sans-serif;
    text-decoration: none;
}

.buttons:hover {
    background-color: rgba(125, 212, 224, 0.116);
    transition-duration: 0.5s;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.0);
}

.item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10em;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 10px 0 0 200px; */
}

.title h3 {
    font-size: 36px;
    font-weight: 600;
}

#learn-more {
    display: flex;
    margin-top: 40px;
    justify-content: start;
    text-align: center;
}

.lead-title {
    width: 70%;
    font-weight: 800;
    font-size: 36px;
}



.download {
    align-items: center;
    margin-top: 8em;
    ;
}

.testimonials {
    align-items: center;
    min-height: 300px;

}



.center h4 {
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    opacity: 0.8;
}

.paragraph {
    align-items: center;
    justify-content: center;
}

.testimonials {
    display: flex;
    flex-direction: column;
    gap: 62px;
    margin-top: 12em;
    background-color: rgb(58, 163, 219);
    width: 100% !important;
    border-radius: 24px;
    color: rgba(255, 255, 255, 0.904);
    padding: 65px 120px;
}

.img-circle {
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 3px solid white;
}

.center {
    text-align: center;
    
   
}

.person {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.person-name {
    padding-left: 10px;
    letter-spacing: 1px;
}

.person-name h6 {
    font-weight: 600;
    align-items: center;
}

#man {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 90px;
}

.quote {
    width: 65%;
   
}

.latest {
    margin: 6em 0 6em 0;
    align-items: center;
    text-align: center;
}

.check h3 {
    font-size: 36px;
    font-weight: 600;
}

.last {
    display: flex;
    justify-content: space-evenly;
    height: 512px;
    width: 33.33%;
    gap: 10px 20px;
    border-radius: 30px;
    border-color: rgb(233, 231, 231);
    box-shadow: 0px 21px 3px 0px rgba(193, 211, 216, 0.068);
    border: none;
    cursor: pointer;
}

.last:hover {
    background-color: rgba(152, 198, 206, 0.082);
    transition-duration: 0.5s;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.0);
}

.last a {
    text-decoration: none;
    color: rgb(129, 198, 235);
    font-size: 17px;
    font-weight: 600;
}

#latest {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

#card {
    width: 100%;
    height: 100%;
}

.card-title {
    font-size: 24px;
    font-weight: 600;
}

.card-text {
    font-size: 16px;
    color: rgb(121, 125, 135);
    font-weight: 100;
}

.last-button {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    text-align: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: mulish;
    background-color: rgb(129, 198, 235);
    margin-top: 8em;

    color: white;
    font-size: 18px;
    min-height: 300px;
}



.desc {
    display: flex;
    align-items: center;
}

.company {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer a {
    text-decoration: none;
}

#list a {
    display: block;
    color: white;
    align-items: center;
    text-decoration: none;
    align-items: center;
    list-style-type: none;
}

#list li {
    list-style-type: none;
}

#list li a {
    line-height: 2;
    align-items: center;
}

#list ul {
    line-height: 3.4;
    font-weight: 350;
    font-size: 20px;
}

#company-name  {
   gap: 20px;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 15px;
}

#company-name {
    display: flex;
    align-items: center;
    gap: 5px;
}

#logo-two {
    text-align: center;
    font-size: 26px;
    font-weight: 800;
    border: 0px solid rgb(129, 198, 235);
    width: 45px;
    height: 45px;
    background-color: white;
    border-radius: 50px;
    color: rgb(129, 198, 235);
}

.container-fluid {
    background-color: rgb(129, 198, 235);
}

#card-t {
    display: flex;
    align-items: center;
    gap: 20px;
}

@media (max-width: 800px) {
    .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
    .lead-title {
        justify-content: flex-start;
        text-align: center;
        width: 100%;
    }
    .line-text {
        text-align: center;
        width: 100%;
    }
    .buttons {
        width: 100%;
        margin-top: 5px
    }
}

@media (max-width: 800px) {
    #card-t {
        overflow: hidden;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 10px;
    }
    .last {
        width: 80%;
        margin-top: 20px;
    }
}

@media (max-width: 800px) {
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 30px;
    }
    .lead-title {
        text-align: center;
        width: 100%;
        font-size: 25px;
    }
    .line-text {
        text-align: center;
        width: 100%;
    }
    @media (max-width: 800px) {
        .last-button {
            margin-top:30px ;
        }
    }
    /* @media (max-width: 800px) {
    .download {
        overflow: hidden;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
} */
    @media (max-width: 800px) {
        .hero {
            overflow: hidden;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .title {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            font-size: 15px;
            margin-bottom: 20px;
            width: 100%;
        }
        .high {
            align-items: center;
            text-align: center;
            font-size: 30px;
            font-weight: 800;
        }
        .line-text {
            align-items: center;
            text-align: center;
            font-size: 13px;
        }
        .first-button a {
            text-align: center;
            width: 100%;
            align-items: center;
        }
    }
    @media (max-width: 800px) {
        .navcontent a {
            overflow: hidden;
            height: 100vh;
            position: fixed;
            z-index: 10;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: transparent;
            display: none;
            top: 0;
            right: 0;
            left: 0;
            text-decoration: none;
        }
        .closeMenu {
            overflow: hidden;
            display: none;
            position: absolute;
            top: 20px;
            right: 20px;
        }
        .openMenu {
            overflow: hidden;
            display: block;
        }
    }
    @media (max-width:800px) and (min-width:400px) {
        #lead {
            overflow: hidden;
            width: 100%;
            align-items: center;
            text-align: center;
            display: flex;
            flex-direction: column;
        }
        .title {
            width: 100%;
        }
    }
    @media (max-width:800px)  { 
       .person{
        align-items: center;
        
       }

       .quote{
           width: 100%;
       }
       #man{
           padding-right: 23px ;
           
       }
    }
        
    @media (max-width:800px)  {
        

        .footer{
            display: flex;

        }
        #company-name {
            text-align: center;
            align-content: center;
            justify-content: center;
            font-size: 20px;
        

        }

        .company{
            text-align: center;
            flex-basis: content;
            padding: 0;

        }

        #list li a{
            font-size: 10px;
        }

        #list a{
            padding: 0;
        }

        #copyright {
            display: block;
            font-size: 10px;
            text-align: center;
        }
        #description {
            display: block;
            font-size: 10px;
            width: 100%;
            text-align: center;
        }
        #list {
            display: block;
            text-align: center;
            align-items: center;
            font-size: 10px;
           
        }
        #list a {
            display: flex;
            align-items: center;
            font-size: 13px;
        }
    }

    @media (max-width:800px) {
        .learn{
            align-items: center;
        }

        .card-text{
            text-align: center;
        }
    }